body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Helvetica', 'Arial';
	padding-top: 50px;
	background-image: url(img/question.jpg);
	background-size: cover;
}

h2 {
	font-weight: normal;
	font-size: 20px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	font-size: 20px;
	cursor: pointer;
}


.container {
	width: 480px;
	padding-top: 25px;
	border: 5px solid white;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 25px;
	margin: 0 auto;
	text-align: center;
}

#options {
	margin: 10px 0;
	text-align: left;
	padding-left: 25px;
}

.next-question {
	margin-right: 10px;
}

#score {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
div {
	color: black;
	font-size: 20px;
}